<aside id="menu" class="scrollbar">

    <ul>
        {% for section in template.cp.sections.root() %}
            {% if not section.hidden %}
                <li class="{{ section.highlighted ? 'active' }} {{ section.class }}">
                    <a {{ html_attributes(section.attributes) }}>
                        {{ section.icon ? icon(section.icon)|raw }}
                        {{ trans(section.title)|raw }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

</aside>
