<aside id="menu">

    <ul>
        {% for section in template.cp.sections.root() %}
            <li class="{{ section.highlighted ? 'active' }} {{ section.class }}">
                <a {{ html_attributes(section.attributes) }}>
                    {{ section.icon ? icon(section.icon)|raw }}
                    {{ trans(section.title)|raw }}
                </a>
            </li>
        {% endfor %}
    </ul>

</aside>
