<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<title>{{ trans('pyrocms.theme.accelerant::control_panel.title') }}
    &#8250; {{ trans(template.breadcrumbs.all()|keys|last)|raw }}</title>

<!-- Favicons -->
{{ favicons("pyrocms.theme.accelerant::img/favicon.png") }}

{#{{ asset_add("theme.css", "pyrocms.theme.accelerant::scss/flat-ui/flat-ui.scss") }}#}
{{ asset_add("theme.css", "pyrocms.theme.accelerant::scss/fonts/fonts.scss", ["parse"]) }}
{{ asset_add("theme.css", "pyrocms.theme.accelerant::scss/bootstrap/bootstrap.scss") }}
{{ asset_add("build.css", "pyrocms.theme.accelerant::scss/theme/theme.scss") }}

{{ asset_add("theme.js", "pyrocms.theme.accelerant::js/vendor/*") }}
{{ asset_add("theme.js", "pyrocms.theme.accelerant::js/libraries/tether.min.js") }}
{{ asset_add("theme.js", "pyrocms.theme.accelerant::js/libraries/*") }}
{{ asset_add("theme.js", "pyrocms.theme.accelerant::js/theme/*") }}

{{ asset_style("theme.css") }}
{{ asset_style("build.css", ["live"]) }}

{% if locale().isRtl() %}
    {{ asset_add("styles.css", "pyrocms.theme.accelerant::css/bootstrap-rtl/bootstrap.rtl.css") }}
    {{ asset_add("styles.css", "pyrocms.theme.accelerant::scss/theme/rtl.scss") }}
{% endif %}

{{ constants() }}

{% for style in asset_styles("styles.css") %}
    {{ style|raw }}
{% endfor %}

{{ asset_script("theme.js") }}
