{% if setting_value('anomaly.module.navigation::enable_hover_mode') %}
  {{ asset_add('build.css', 'pyrocms.theme.accelerant::scss/theme/hover_mode.scss') }}
{% endif %}

<aside id="sidebar" class="scrollbar">

    <ul>
        {% for navigation in template.cp.navigation %}
            <li class="{{ navigation.active ? 'active' }} variant-border">
                <a {{ html_attributes(navigation.attributes) }}>
                    {{ icon(navigation.icon ?: 'fa fa-puzzle-piece') }}
                    <span>{{ trans(navigation.title) }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>

</aside>
